:root {
  --darkgreen: #05581B;
  --lightgreen: #47AD62;
  --darker: #02280C;
  --lighter: #67C07E;
  --text: #02280C;
}

body {
  background-color: var(--darkgreen);
  font-family: Arial, sans-serif;
}

.todo-app {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width:90%;
  max-width: 500px;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  background-color: var(--lightgreen);
  color: var(--text);
  box-shadow: 0px 10px 10px var(--darker);
}

.todo-app h1 {
  margin: 5px;
}

.todo-app ul {
  width: 100%;
  padding: 0;
  border-bottom: 1px dotted var(--darker);
}

.todo-app ul li {
  list-style-type: none;
  border-top: 1px dotted var(--darker);
  padding: 15px 0px 15px 0px;
}

.todo-app ul li:hover {
  background-color: var(--lighter);
}

.item-name {
  float:left;
  width:90%;
}

.item-remove {
  cursor: pointer;
  background: transparent;
  border: 0;
}

.add-todo {
  margin-bottom: 10px;
}

.add-todo input {
  border: 1px solid var(--darkgreen);
  border-radius: 2px;
  background-color: var(--lighter);
  margin: 0px 10px;
  padding: 10px;
}